:host {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #242939;
  z-index: 100;
  width: 260px;
}

.sidebar {
  padding: 5px 10px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  a {
    color: rgba(0, 0, 0, 0.7);

    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }

  .navbar-divider {
    border-top: 1px solid rgba(166, 166, 166, 0.7);
  }

  .navbar-brand {
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
  }
}
