:host {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
}

.main {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 auto;
  display: flex;
  flex-direction: column;
}

gemini-header {
  height: 75px;
  top: 0;
  right: 0;
  left: 260px;
  z-index: 97;
  background-color: #f9f9fc;
  box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
}
