@import url('https://fonts.googleapis.com/css?family=Staatliches');

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 100;
}

button {
  font-weight: 100;
}
