<!-- <nav class="navbar navbar-dark bg-dark shadow gemini-navbar">

  <div class="navbar-brand mb-0 h1 menu">
    Gemini
  </div>
  <div class="container">

    <div class="top-bar-list">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fab fa-searchengin"></i></span>
          </div>
          <p-autoComplete inputStyleClass="form-control"  [suggestions]="results" (completeMethod)="search($event)" placeholder="Entità" aria-label="Search"></p-autoComplete>
        </div>
    </div


  </div>

</nav> -->

